name: CI Basics

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Step 1 - Works
        run: echo "This step is fine"

      - name: Step 2 - FAILS
        run: exit 1

      - name: Step 3 - Never Runs
        run: echo "You will never see this"
