name: CI Basics

on:
  push:
    branches: [ "main" ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Gitleaks (Secret Scan)
        uses: gitleaks/gitleaks-action@v2
